<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/public/css/onePage.css">
    <title>Página Home</title>
</head>
<body>
      <%- include('partials/nav') %>
      <%- include('partials/onePage') %>
      <%- include('partials/secundPage') %>



    <%- include('partials/footer') %>
 

</body>
</html>
